<a>
    <%= link_to 'Chatroom', root_path, class: "item" %>
</a>
<a class="item">
    Messages
</a>
<div class="right menu">
    <% if logged_in? %>
    <a>
    <%= link_to 'Logout', logout_path, method: :delete, class: "item" %>
    </a>
    <% else %>
    <a>
        <%= link_to 'Login', login_path, class: "ui primary button" %>
    </a>
    <% end %>
</div>