<a class="item">
    Chatroom
</a>
<a class="item">
    Messages
</a>
<div class="right menu">
    <a class="item">
        Login
    </a>
    <a class="item">
        Logout
    </a>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
</div>